*{
    margin: 0;
    padding: 0;
}

.contenido-de-barra{
    background-color: rgb(78, 78, 78);
    margin: 0;
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 120px; 
    margin-right: 10px;
}

.logo-container span {
    font-size: 18px; 
    color: white;
}

.navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 19px;
}

.navbar-nav .nav-item:last-child .nav-link {
    color: green;
}

.barra-de-navegacion{
    margin: 0;
    padding: 0;
}

.btn-outline-primary{
    align-items: left;
    background-color: rgb(219, 219, 4);
    color: whitesmoke;
}

.btn-outline-secondary{
    align-items: left;
    background-color: rgb(196, 8, 8);
    color: whitesmoke;
}

.contenido-de-imagen{
    background-color: rgb(78, 78, 78);
    margin: 0;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 100vh; 
    border: none; 
    padding: 20px; 
}

form {
    width: 100%;
    max-width: 400px; 
    text-align: center; 
    margin-bottom: 0%;
}

/* Asegúrate de que los elementos dentro del formulario tengan un ancho del 100% si es necesario */
form input[type="text"],
form textarea {
    width: 100%;
}

.form-group h1{
    padding-left: 25%;
}

#btn-enviar {
    background-color: green;
    color: white; 
    border: none; 
    padding: 15px 30px; 
    font-size: 18px; 
    border-radius: 8px; 
    cursor: pointer;
    text-decoration: none;
}

footer {
    background-color: #333; 
    color: white; 
    text-align: center;
    padding: 20px 0; 
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px; 
    margin: 0 auto; 
}

.footer-container a {
    color: white; 
    text-decoration: none; 
    padding: 10px 20px; 
    border: 1px solid white; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo del enlace */
}

.footer-container a:hover {
    background-color: #555; 
}
